/node_modules
/storage/*.key
/vendor
.env
.env.backup
/.phpunit.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
composer.lock
package-lock.json
public/mix-manifest.json
public/js/chunks
*.woff
yarn.lock
